#allRecipesList__table {
  border-collapse: collapse;
  width: 100%;
  cursor: default;
}

#allRecipesList__table td,
#allRecipesList__table th {
  border: 1px solid var(--dark-green);
  padding: 8px;
  width: fit-content;
}

#allRecipesList__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#allRecipesList__table tr:hover {
  background-color: #ddd;
}

.allRecipesList__title {
}

#allRecipesList__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-red);
  color: white;
}
