.wrapper__newRecipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.recipes h3 {
  margin: 0;
  padding: 0.5rem 0;
}

.recipe {
  border: black solid 1px;
  margin: 1rem;
}

.recipe__table {
  padding: 1rem;
}

.recipes__ingredientsHeading {
  margin: 0.5rem;
  font-size: 18px;
}

.newRecipe__wrapper {
  border: black solid 1px;
  background-color: var(--bright-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newRecipe__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0;
  max-width: 80%;
}

.newRecipe__inner label {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 0.5rem;
}

.newRecipe__inner input[type="text"] {
  padding: 0.3rem 0.2rem;
  font-size: 16px;
}

/* form */

.form__group {
  display: flex;
  justify-content: center;

  margin: 0.5rem 0;
  flex-direction: column;
}
/* Description */

.form__description {
  width: 100%;
  margin: 0;
  height: 50px;
  padding: 0.8rem 0.2rem;
  /* border: 2px solid #ccc; */
  /* border-radius: 4px; */
  /* background-color: #f8f8f8; */
  font-size: 16px;
  resize: none;
}
/* Ingredients */
.form__table {
  width: 100%;
}

.form-control {
  width: 100%;
}

.table__select {
  padding: 0.3rem 0.2rem;
  font-size: 16px;
  width: fit-content;
}

/* Steps */

.form__steps {
  resize: none;
  display: flex;
  flex-direction: column;
}

.form__steps textarea {
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 0.2rem;
}

.form__steps textarea::placeholder {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}

.form__steps textarea:focus::placeholder {
  color: transparent;
}

.form__stepsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.btn__add {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.2rem !important;
}

.btn__submit {
  width: 100%;
  background-color: var(--dark-green) !important;
}

.btn {
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 800;
  padding: 0.6rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--bright-red2);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  background-color: #e64343;
}
.recipe__buttons {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.form-ingredient {
  width: 100%;
  margin: 0.5rem;
}

.form__categories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__categories li {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  /* background-color: red; */
  margin: 0 0.2rem;
}

.categories__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: 800;

  /* margin: auto; */
}

.categories__inputs input {
  width: 20px;
  height: 20px;
}

.categories__inputs label {
  /* margin-right: 15px; */
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.form__upload {
  text-align: center;
  margin: 0.5rem 0;
}
.form__upload label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(174, 80, 80, 0.9));
}
.form__upload label:hover {
  opacity: 0.8;
}

.form__upload label input[type="file"] {
  display: none;
}
