/* Wrappers */

.createRecipe__globalWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

/* @media (max-width: 2000px) {
  .createRecipe__innerWrapper {
    width: 200px;
  }
} */

.createRecipe__innerWrapper {
  border: #d3c9c9 3px solid;
  background: linear-gradient(35deg, #fffbfb, #dfdada);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createRecipe__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0;
  max-width: 80%;
}

.createRecipe__content label {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 0.5rem;
}

.createRecipe__content input[type="text"] {
  padding: 0.3rem 0.2rem;
  font-size: 16px;
}

/* form */

.createRecipe__formGroup {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  flex-direction: column;
}
/* Description */

.createRecipe__formDescription {
  width: 100%;
  margin: 0;
  height: 50px;
  padding: 0.8rem 0.2rem;
  /* border: 2px solid #ccc; */
  /* border-radius: 4px; */
  /* background-color: #f8f8f8; */
  font-size: 16px;
  resize: none;
}
/* Ingredients */
.createRecipe__formTable {
  width: 100%;
}

.createRecipe__formControl {
  width: 100%;
}

.createRecipe__tableSelect {
  padding: 0.3rem 0.2rem;
  font-size: 16px;
  width: fit-content;
}

.btn-outline-danger {
  background-color: var(--buttonsDelete) !important;
}

/* Categories */

.createReciepe__formCategories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createReciepe__formCategories li {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  /* background-color: red; */
  margin: 0 0.2rem;
}

.createRecipe__categoriesInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: 800;
}

.createRecipe__categoriesInputs input {
  width: 20px;
  height: 20px;
}

.createRecipe__categoriesInputs label {
  /* margin-right: 15px; */
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}
/* Steps */

.createRecipe__formSteps {
  resize: none;
  display: flex;
  flex-direction: column;
}

.createRecipe__formSteps textarea {
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 0.2rem;
}

.createRecipe__formSteps textarea::placeholder {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}

.createRecipe__formSteps textarea:focus::placeholder {
  color: transparent;
}

.createRecipe__formStepsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.createRecipe__btnAdd {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.2rem !important;
}

.createRecipe__btn {
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 800;
  padding: 0.6rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--buttons);
  cursor: pointer;
}

.createRecipe__btn:hover {
  opacity: 0.8;
  background-color: var(--buttonsHover);
}
.createRecipe__btns {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.form-ingredient {
  width: 100%;
  margin: 0.5rem;
}

.createRecipe__btnDelete {
  background-color: var(--buttonsDelete);
}

/* IMG Upload */
.createRecipe__formUpload {
  text-align: center;
  margin: 0.5rem 0;
}
.createRecipe__formUpload label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--white);
  background: var(--buttonsDelete);
  opacity: 0.8;
}
.createRecipe__formUpload label:hover {
  opacity: 0.8;
}

.createRecipe__formUpload label input[type="file"] {
  display: none;
}
/* Submit */
.createRecipe__btnSubmit {
  width: 100%;
  background-color: var(--dark-green) !important;
}
