.recipes__wrapper {
  display: flex;
  flex-direction: column;
}

.myRecipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.recipes__wrapper h1 {
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px var(--white, 0.5);
  letter-spacing: 3px;
  color: var(--dark);
}
.myRecipe h3 {
  text-align: center;
  text-decoration: dotted;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px rgba(70, 66, 66, 0.996);
  font-weight: 800;
  margin: 1rem 0 0.3rem 0;
}
.myRecipe h3::first-letter {
  text-transform: capitalize;
}

.myRecipe__description {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2rem;
  max-width: 15rem;
}

.myRecipe {
  /* background-color: var(--bright-red); */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 1px black solid;
}

.recipe__imgContainer {
  min-height: 15rem;
  min-width: 15rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.recipe__img {
  border-radius: 2rem;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testung {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.recipe__btn button {
  /* display: flex; */
  margin: 0.3rem 1rem;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 800;
  padding: 0.2rem 0.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--primary-red);
  cursor: pointer;
}
