.register__form__wrapper {
  margin: 0% 25%;
  border: var(--border) 1px solid;
  box-shadow: 0 4px 2px rgba(104, 172, 87, 0.7);
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.register__form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
}

.register__form label {
  margin: 0.5rem;
}
.register__form label h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.register__form input {
  font-size: 1.5rem;
}

.register__form button {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  font-weight: 800;
  color: #732e36;
  border: 1px solid rgba(27, 26, 26, 0.5);
  border-radius: 10px;
  background-color: rgba(199, 201, 203, 0.2);
}
.register__form button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--bg-green);
}

.register__form p {
  margin: 1rem;
  text-decoration: none;
}

.register__form p:hover {
  color: #732e36;
}
