.allRecipes__wrapper {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem 3rem; */
  margin: 3rem 0rem;
}
.allRecipes__wrapper h3 {
  font-size: 1.5rem;
  color: var(--text);
  text-shadow: 2px 2px 4px var(--border-bright);
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
.allRecipes__card {
  min-height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}
.allRecipes__card:hover {
  transform: scale(1.03);
  min-width: fit-content;
  border-radius: 2rem;
}

.allRecipes__card p {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allRecipes__img {
  border-radius: 2rem;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.allRecipes__gradient {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
