.navbar__login h4 {
  padding: 5px;
}

.navbar__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
