@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-green: #e6e6e6;
  --primary-red: #732e36;
  --text-green: #b3ffc3;
  --bright-red: #bf737c;
  --bright-red2: #ed4444;
  --dark-green: #397346;
  --border: rgba(0, 0, 0, 0.8);
  --border-bright: rgba(228, 224, 224, 0.805);
  --dark: #0f0e0e;
  --white: rgb(246, 243, 243);
  /* --text: #233748; */

  /* NEW */
  --background: #fffafb;
  --buttons: #3c5645;
  --buttonsHover: #2f4336;
  --buttonsDelete: #732e36;
  --buttonText: #ebebeb;
  --text: #313131;
  --border: #d3cbcb;
  --textShadowDark: #1f1e1e;
}

html {
  /* height: 100%; */
}

body {
  /* height: 100%; */
  margin: 0% 20%;
  background: var(--background);

  /* display: grid; */

  /* flex-direction: row; */
}

h4 {
  font-size: 1rem;
  color: var(--text);
}

/* h3 {
  font-size: 1.5rem;
  color: var(--text);
  text-shadow: 2px 2px 4px var(--border-bright);
  line-height: 2.5rem;
  margin: 2rem 0rem;
} */

p,
h1,
h2,
h3,
h4,
label,
thead {
  color: var(--text);
  text-shadow: -1px -1px 0 #000, 0, 0, 0;
}
