@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-green: #b8e3c2;
  --primary-red: #732e36;
  --text-green: #b3ffc3;
  --bright-red: #bf737c;
  --bright-red2: #ed4444;
  --dark-green: #397346;
  --border: rgba(0, 0, 0, 0.8);
  --border-bright: rgba(228, 224, 224, 0.805);
  --dark: #0f0e0e;
  --white: rgb(246, 243, 243);
}

body {
  margin: 0% 20%;
  background: var(--bg-green);
}

h4 {
  font-size: 1rem;
  color: var(--primary-red);
}

h3 {
  font-size: 1.5rem;
  color: var(--primary-red);
  text-shadow: 2px 2px 4px var(--border-bright);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: rgb(56, 56, 56);
}
